[submodule "nvim"]
	path = nvim
	url = https://github.com/larry-lime/lazyvim-larry
[submodule "tmux"]
	path = tmux
	url = https://github.com/larry-lime/tmux-config
[submodule "zsh"]
	path = zsh
	url = https://github.com/larry-lime/zsh-config
